<div class="jumbotron">
  <h1>VerseAdopt</h1>
  <p>A simple app that turns memorizing verses into aid for those around the world.</p>
  <p><a class="btn btn-primary btn-lg">Learn more</a></p>
  <p>Scroll down to start VerseAdopt!</p>
  <div class="row">
    <div class="col-sm-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Michael Jackson</h3>
          </div>
          <div class="panel-body">
            <img src="/images/child1.jpg" style="width:100%;padding-bottom:5px" />
            <div class="progress progress-striped active">
              <div class="progress-bar" style="width: 45%">45% Adopted</div>
            </div>
            <p><a href="#/memorize" class="btn btn-primary btn-lg">Memorize!</a></p>
          </div>
          </div>
    </div>
    <!--
    <div class="col-sm-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Michael Jackson</h3>
          </div>
          <div class="panel-body">
            <img src="/images/child1.jpg" style="width:33%" />
          </div>
          </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">Michael Jackson</h3>
          </div>
          <div class="panel-body">
            <img src="/images/child1.jpg" style="width:33%" />
          </div>
          </div>
    </div>
    -->
  </div>
  
</div>